{% extends '_base.twig' %}

{% import 'macro.twig' as mcs %}

{% block content %}
    <div class="ui accordion">
        {% for t in tasks %}
            <div class="title">
                <table class="ui table {% if t.registered %}green{% else %}red{% endif %}">
                    <tr>
                        <td class="eight wide">{{ t.vars.name }}</td>
                        <td class="four wide">
                            {% if defined(t.vars.checked) %}
                                {{ t.vars.checked|date("HH:mm:ss") }}
                                <br/>
                                {{ t.vars.checked|date("dd MMMM yyyy")|lower }}
                            {% endif %}
                        </td>
                        <td class="four wide"></td>
                    </tr>
                </table>
            </div>
            <div class="content">
                <div class="ui grid">
                    <div class="row">
                        <div class="eight wide column">
                            <h4 class="ui horizontal divider header">
                                <i class="icon hand lizard"></i>
                                VARIABLES
                            </h4>
                            <table class="ui definition compact table">
                                <tbody>
                                {% for key in t.vars.keySet()|sort %}
                                    <tr>
                                        <td class="two wide column">{{ key }}</td>
                                        <td>{{ mcs.val_link(t.vars.get(key)) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="eight wide column">
                            <h4 class="ui horizontal divider header">
                                <i class="icon hand spock"></i>
                                PARAMETERS
                            </h4>
                            <table class="ui definition compact table">
                                <tbody>
                                {% for key in t.params.keySet()|sort %}
                                    <tr>
                                        <td class="two wide column">{{ key }}</td>
                                        <td>{{ mcs.val_link(t.params.get(key)) }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="eight wide column">
                            <h4 class="ui horizontal divider header">
                                <i class="icon hand rock"></i>
                                COMMON
                            </h4>
                            <table class="ui definition compact table">
                                <tbody>
                                <tr>
                                    <td class="two wide column">oid</td>
                                    <td class="code">{{ t._id }}</td>
                                </tr>
                                <tr>
                                    <td class="two wide column">job</td>
                                    <td class="code">{{ t.job }}</td>
                                </tr>
                                <tr>
                                    <td class="two wide column">schedule</td>
                                    <td class="code">{{ join(t.schedule, "<br/>") }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="eight wide column">
                            <h4 class="ui horizontal divider header">
                                <i class="icon hand scissors"></i>
                                OPERATIONS
                            </h4>
                            <div>
                                <button class="ui primary button runjob" value="{{ t._id }}">
                                    <i class="icon play"></i> Run job
                                </button>
                                <button class="ui negative button removejob" value="{{ t._id }}">
                                    <i class="icon remove"></i> Remove job
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="ui basic modal modalrun">
        <div class="ui icon header">
            <i class="send icon"></i>
            Run this job?
        </div>
        <div class="content">
            <p>Confirm run this job</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
    <div class="ui basic modal modalremove">
        <div class="ui icon header">
            <i class="delete icon"></i>
            Remove this job?
        </div>
        <div class="content">
            <p>Confirm remove this job</p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>
    <script>
        $('.ui.accordion').accordion();
        $('.runjob').click(function () {
            const id = $(this).attr("value");
            $('.ui.basic.modal.modalrun')
                .modal({
                    onApprove: function () {
                        $.post("api/run/", {"id": id});
                    }
                })
                .modal('show');
        });
        $('.removejob').click(function () {
            const id = $(this).attr("value");
            $('.ui.basic.modal.modalremove')
                .modal({
                    onApprove: function () {
                        $.post("api/delete/", {"id": id})
                            .done(function () {
                                location.reload();
                            })
                    }
                })
                .modal('show');
        });
    </script>
{% endblock %}
